/* You can add global styles to this file, and also import other style files */

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::-moz-selection {
  background: #ffdc00;
}

::selection {
  background: #ffdc00;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #444452;
  font-family: "Source Sans Pro", system, system-ui, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
}

body.night,
html.night {
  background-color: #171c28;
  color: #afafbf;
}

body.night .switch-wrapper .sun,
html.night .switch-wrapper .sun {
  background: url(/assets/switch/sun-white.svg) no-repeat center !important;
  background-size: 100% !important;
}

body.night .switch-wrapper .moon,
html.night .switch-wrapper .moon {
  background: url(/assets/switch/moon-white.svg) no-repeat center !important;
  background-size: 100% !important;
}

body.night .experience .job__time,
body.night .footer__copyright,
body.night .intro,
body.night .skills .skillz__category__label,
body.night .status,
body.night a,
body.night strong,
html.night .experience .job__time,
html.night .footer__copyright,
html.night .intro,
html.night .skills .skillz__category__label,
html.night .status,
html.night a,
html.night strong {
  color: #e7e7e7 !important;
}


body.night .section__content .underline-link:after,
html.night .section__content .underline-link:after {
  background: #e7e7e7 !important;
}

body.night ::selection,
html.night ::selection {
  color: #36363c;
  background: #ffdc00;
}

body.night ::-moz-selection,
html.night ::-moz-selection {
  color: #36363c;
  background: #ffdc00;
}

a {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  color: inherit
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor
}

img {
  max-width: 100%;
  vertical-align: middle
}

strong {
  font-weight: 700;
  color: #36363c
}

.emoji {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 100px 170px
}

@media screen and (max-width: 1280px) {
  .section {
      padding:100px
  }
}

@media screen and (max-width: 1024px) {
  .section {
      padding:50px
  }
}

@media screen and (max-width: 768px) {
  .section {
      display:block
  }
}

@media screen and (max-width: 480px) {
  .section {
      padding:50px 35px
  }
}

.section__title {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 200px;
  margin-right: 70px;
  color: #007bff;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
  letter-spacing: 2px
}

@media screen and (max-width: 1024px) {
  .section__title {
      margin-right:50px
  }
}

@media screen and (max-width: 850px) {
  .section__title {
      width:150px
  }
}

@media screen and (max-width: 768px) {
  .section__title {
      text-align:left;
      width: auto
  }
}

.section__content {
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  max-width: 650px
}

@media screen and (max-width: 768px) {
  .section__content {
      padding-top:30px;
      padding-left: 50px
  }
}

@media screen and (max-width: 480px) {
  .section__content {
      padding-left:30px
  }
}

.section__content p {
  margin-top: 0;
  margin-bottom: 25px
}

.section__content .underline-link {
  position: relative;
  display: inline-block
}

.section__content .underline-link:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #36363c;
  content: '';
  opacity: 0;
  -webkit-transition: height .3s,opacity .3s,-webkit-transform .3s;
  transition: height .3s,opacity .3s,-webkit-transform .3s;
  transition: height .3s,opacity .3s,transform .3s;
  transition: height .3s,opacity .3s,transform .3s,-webkit-transform .3s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px)
}

.section__content .underline-link:focus:after,.section__content .underline-link:hover:after {
  height: 2px;
  border-radius: 3px;
  opacity: 1;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px)
}

@media screen and (max-width: 1280px) {
  .section {
      padding:100px
  }
}
